---
import '@fontsource/space-grotesk';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32">
		<link rel="icon" href="/favicon.png" type="image/png" sizes="any">
		<title>{title}</title>
		
		<link
			rel="alternate"
			type="application/rss+xml" 
			title="leoj.de/blog" 
  		href="/blog/rss.xml"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<meta property="og:site_name" content="leoj.de" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.leoj.de" />
		<meta property="og:description" content={description} />
	</head>
	<body>
		<div style="display: contents">
			<div class="w-full max-w-4xl mx-auto px-6 md:px-10 mb-10">
				<slot />
				<footer class="my-8">
					&copy; {new Date().getFullYear()} Leo J. &mdash;
					<a href="/imprint" class="link">Imprint</a>
				</footer>
			</div>
		</div>
	</body>
</html>

<style is:global>
	body {
		@apply dark:bg-neutral-900 dark:text-white;
	}

	#content .link {
		@apply underline;
	}

	body {
		overflow-y: scroll;
	}

	.semi {
		@apply text-neutral-600 dark:text-neutral-400;
	}
	.link {
		@apply hover:underline;
	}
	.button {
		@apply bg-neutral-100 px-4 py-2.5 text-base inline-block hover:text-white hover:bg-black hover:italic dark:bg-neutral-800 dark:hover:bg-white dark:hover:text-black;
	}
</style>